<template>
  <div class="search-main-box">
    <input
      class="search-input"
      placeholder=" "
      @input="updateValue($event.target.value)"
    >
    <label
      class="search-label"
    >Поиск</label>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from "nuxt-property-decorator";
@Component
export default class Search extends Vue {
  private updateValue(value: any): any {
    this.$emit('search', value);
  }
}
</script>
<style lang="less">
.search-main-box {
  position: relative;
  margin-bottom: 32px;
  height: 35px;
  margin-top: 50px;

  .search-label {
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s all;
    position: absolute;
  }

  .search-input {
    padding: 0 0 10px 0;
    border: 0;
    border-bottom: 1px solid #9e9e9e;
    background-color: transparent;
    outline: none;

    &:focus {
      border-bottom: 2px solid #1976d2;
      transition: 0.5s all;
    }

    &:focus ~ .search-label,
    &:not(:placeholder-shown) ~ .search-label {
      top: -18px;
      font-size: 12px;
      color: #1976d2;
    }
  }
}
</style>
