<template>
    <table>
      <tr>
        <th v-for="(field, i) in userField" :key="i">{{field}}</th>
      </tr>
      <tr v-for="(user,i) in userData" :key="i">
        <td v-for="(userdata,k) in user" :key="k">
          {{userdata}}
        </td>
      </tr>
    </table>
</template>
<script lang="ts">
import {Component, Prop, Vue} from "nuxt-property-decorator";

@Component
export default class Table extends Vue {
@Prop({default: () => '' })
  private userData!: Array<object>;

  private userField: Array<string> = [
    'Id', 'Email', 'First_name', 'Pay_status', 'Last_name', 'Username', 'Profile_link'
  ]

}
</script>
<style scoped lang="less">

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

</style>
