<template>
<div class="layout-container">
  <Nuxt/>
</div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator';

@Component
export default class Default extends Vue {

}
</script>

<style lang="less" scoped>
.layout-container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
}
</style>
