<template>
  <div class="index-container">
    <Search @search="search"/>
    <Table :user-data="userData"/>
    <div v-for="(field, f) in userField" :key="f">
      <p @mousedown.prevent="sortUserData(field)">
        Сортировка по {{field}}
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue} from "nuxt-property-decorator";
import userData from '../userData.json';
import Table from '../components/table.vue';
import Search from "../components/search.vue";
import {user} from "~/components/api";
@Component({
  components:{
    Table,
    Search
  }
})
export default class index extends Vue{

  private searchUserData: string = '';

  private data: Array<any> = userData;

  private userField: Array<string> = [
    'id', 'email', 'first_name', 'pay_status', 'last_name', 'username', 'profile_link'
  ]

  private get userData(): Array<any> {
    if(this.searchUserData.length > 0) {
      return this.data.filter(obj => {
        return [
          'email', 'first_name', 'last_name', 'username', 'profile_link'
        ].map(el =>
          (obj[el as keyof user] as string).includes(this.searchUserData)
        ).reduce(
          (previousValue, currentValue) => previousValue || currentValue,
          false
        );
      })
    }
    else {
      return this.data;
    }
  }

  private sortUserData(value: any): void {
    switch (value) {
      case 'id':
      case 'pay_status':
        this.data.sort((a, b) => ((a[value as keyof user]) as any) - ((b[value as keyof user]) as any));
        break;
      default:
        this.data.sort((x, y) => x[value].localeCompare(y[value]));
    }
  }

  private search(value:string): void {
    this.searchUserData = value;
  }

  private mounted(): void {
    this.data = userData;
  }
}
</script>

<style lang="less" scoped>

</style>
